<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="納品データ作成ツール.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="納品データ作成ツール.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <納品データ作成ツール.Properties.Settings>
            <setting name="Bounds" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FbdPath" serializeAs="String">
                <value />
            </setting>
        </納品データ作成ツール.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <納品データ作成ツール.Properties.Settings>
            <setting name="PathDefShops" serializeAs="String">
                <value>.\shoplist.xml</value>
            </setting>
            <setting name="CSVFilenameTail" serializeAs="String">
                <value>-SEQ</value>
            </setting>
            <setting name="DBServer" serializeAs="String">
                <value>EOSSERVER\SQLEXPRESS</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>WMEM</value>
            </setting>
            <setting name="DBUser" serializeAs="String">
                <value>wmem</value>
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value>wmem</value>
            </setting>
            <setting name="ImageDirRoot" serializeAs="String">
                <value>\\EOSSERVER\EntryPrj\WMEM\image\IMPORTED</value>
            </setting>
            <setting name="CSVHeaders" serializeAs="String">
                <value>メンバーID,パスワード,お名前,お名前カナ,郵便番号,都道府県,市区町村,地名地番,建物名,メールアドレスＰＣ,メールアドレス携帯,電話番号,生年月日,性別,職業,メルマガ配信可否,DM郵送,契約店舗コード,ポイント有効期限,ポイント数</value>
            </setting>
            <setting name="ImageExt" serializeAs="String">
                <value>jpg,jpeg,png,gif,tif,tiff</value>
            </setting>
            <setting name="FontName" serializeAs="String">
                <value>ＭＳ Ｐゴシック</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>11</value>
            </setting>
        </納品データ作成ツール.Properties.Settings>
    </applicationSettings>
</configuration>
